In [24]:
import sqlite3
from sqlite3 import Error
from sqlite3 import Connection
def create_connection(db_file:str) -> Connection | None:
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)

    return conn

def create_table(conn:Connection):
    sql_projects = """
    CREATE TABLE IF NOT EXISTS iot1(
		id INTEGER PRIMARY KEY AUTOINCREMENT,
		date TEXT NOT NULL,
		light INTEGER NOT NULL,
		temperature REAL NOT NULL
    );
    """
    try:
        cursor = conn.cursor()
        cursor.execute(sql_projects)
    except Error as e:
        print(e)

def select_alltasks(conn:Connection,count:int):
    #sql="Select * from ios1"
    sql= f"""
        SELECT * 
        FROM iot1 
        ORDER by date DESC 
        LIMIT {count}
    """
    cursor = conn.cursor()
    cursor.execute(sql)
    rows=cursor.fetchall()
    return rows

conn = create_connection('data.db')
if conn is not None:
    create_table(conn)
    rows = select_alltasks(conn,5)
    print(rows)
    conn.close()

[(152, '2023-06-29 14:48:16', 12, 23.54), (151, '2023-06-29 14:48:10', 12, 23.54), (150, '2023-06-29 14:48:05', 14, 23.54), (149, '2023-06-29 14:47:59', 14, 23.54), (148, '2023-06-29 14:47:54', 14, 23.54)]

In [25]:

import csv
from 
with open('output.csv', 'w', newline='') as csvfile:
  # 建立 CSV 檔寫入器
  #writer = csv.writer(csvfile)

  # 寫入一列資料
  #writer.writerow(['姓名', '身高', '體重'])

  # 寫入另外幾列資料
  #writer.writerow(['令狐沖', 175, 60])
  #writer.writerow(['岳靈珊', 165, 57])

conn = create_connection('data.db')
if conn is not None:
    create_table(conn)
    rows = select_alltasks(conn,5)
    for row in rows:
      writer.writerow([row])

IndentationError: expected an indented block after 'with' statement on line 2 (2118197572.py, line 13)